/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.info-panel.ng-hide-remove {
    animation: fadeInLeft 0.5s;
}
.info-panel.ng-hide-add {
    animation: fadeOutLeft 0.5s;
}

