<highlighter></highlighter>

<!-- controls (navbar) -->
<div style="position:fixed; top: 0px; left: 0px; height: {{navbar_height}}px; width: 100%; background-color: black;">
    <div class="row" style="padding: 10px;">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8" style="text-align: center;">

            <span style="background-color: black; color: white;">Page {{current + 1}}&nbsp;of&nbsp;{{data.length}}</span>
            <div class="btn-group">
                <button class="btn" ng-click="jumpToStart()" style="background-color: black; color: white;">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button class="btn" ng-click="jumpToEnd()" style="background-color: black; color: white;">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button class="btn" style="background-color: black; color: white;" ng-click="toggleInformation()">
                   <span ng-hide="showInformation">View Item Information</span>
                   <span ng-show="showInformation">Hide Item Information</span>
                </button>
                <button class="btn" style="background-color: black; color: white;" ng-click="toggleFilmstrip()">
                    <span ng-show="showFilmstrip">Hide Thumbnails</span>
                    <span ng-hide="showFilmstrip">Show Thumbnails</span>
                </button>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
    </div>
</div>

<!-- information panel -->
<div style="position: fixed; top: 0px; left: 0px; height: {{height}}px; width: {{width}}px; z-index: 10; opacity: 0.6; background-color: #e0e0e0;" 
    ng-show="showInformation" ng-if="ready" ng-click="toggleInformation()"></div>
<div style="position: fixed; top: 1%; left: 1%; height: 95%; width: 40%; z-index: 20; background-color: #efefea;; 
        border-radius: 8px; box-shadow: 10px 10px 5px #888888; padding: 15px;" ng-show="showInformation" ng-if="ready" class="info-panel">
    <span class="">
        <hr style="border-color: black;" />
        <div class="row">
            <div class="col-lg-12">
                <h4>{{image.title[0]}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                    <dt>Bibliographic Record ID</dt>
                    <dd>{{image.bibrecid}}</dd>
                    <dt>Item ID</dt>
                    <dd>{{image.item}}</dd>
                    <dt>Library Catalogue URI</dt>
                    <dd><a href="{{image.collection_uri}}">{{image.collection_uri}}</a></dd>
                </dl>
                <br/>
                Currently viewing page {{image.page | number}} of {{image.total_pages}}
                
            </div>
        </div>
    </span>
</div>

<!-- Image large view panel -->
<div style="position:fixed; top: {{navbar_height}}px; left: 0px; height: {{image_pane_height}}px; width: 100%; background-color: black;">
    <spinner ng-if='showSpinner'></spinner>
    <div style="position: absolute; height: {{image_pane_height - 10}}px; width: 5%; left: 0px;">
        <a ng-click="previous()" class="left carousel-control" ng-if="showPrevious">
            <span class="glyphicon glyphicon-chevron-left" style="margin-left: 5px; font-size: 26px; color: white;"></span>
        </a>
    </div>
    <div style="position: absolute; height: {{image_pane_height - 10}}px; width: 90%; left: 5%;">
        <img ng-src="{{image.large_image}}" id="main_img" ng-if="show" smoothzoom >
    </div>
    <div style="position: absolute; height: {{image_pane_height - 10}}px; width: 5%; left: 95%;">
        <a ng-click="next()" class="right carousel-control" ng-if="showNext">
            <span class="glyphicon glyphicon-chevron-right" style="margin-right: 5px; font-size: 26px; color: white;"></span>
        </a>
    </div>
</div>

<!-- Filmstrip -->
<style>
    .highlight-current {
        border: 4px solid yellow;
        border-radius: 8px;
        padding: 2px;
        display: inline-block;
    }
</style>
<div ng-if="showFilmstrip"
    style="position:fixed; top: {{navbar_height + image_pane_height}}px; left: 0px; height: {{filmstrip_height}}px; width: 100%; 
            overflow-x: scroll; white-space: nowrap; display: inline-block; background-color: black;">
    <span ng-repeat="img in smallImages">
        <a ng-click="loadImage(img.id)" class="{{styleMap[img.id]}}" id="{{img.id}}" style="top:0; left: 0; right: 0; bottom: 0; margin: auto;">
            <img src="{{img.src}}" class="img-thumbnail" style="height: {{image_height}}px;"  />
        </a>
    </span>
</div>

